[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
matplotlib = "*"
seaborn = "*"
scikit-learn = "*"
tqdm = "*"
statsmodels = "*"
tabulate = "*"
pandas = "*"

[dev-packages]

[requires]
python_version = "3.13"
